# system
USER="wart" # system user

# wallet
WARTHOG_DIR="/home/$USER/Warthog/build/src"    # warthog directory
WARTHOG_JSON="$WARTHOG_DIR/wallet/wallet.json" # wallet.json directory
WARTHOG_CHAIN="/home/$USER/.warthog/chain.db3" # node chain
WARTHOG_PEERS="/home/$USER/.warthog/peers.db3" # node peers
WARTHOG_API="127.0.0.1:3000"                   # node api
WARTHOG_STRATUM=""                             # Solo mining stratum (0.0.0.0:3456)

# END
