USER="wart"                                    # system user
HOME="/home/$USER"                             # home directory

WARTHOG_DIR="$HOME/Warthog/build/src"          # warthog directory
WARTHOG_JSON="$WARTHOG_DIR/wallet/wallet.json" # wallet.json directory
WARTHOG_CHAIN="$HOME/.warthog/chain.db3"       # node chain
WARTHOG_PEERS="$HOME/.warthog/peers.db3"       # node peers
WARTHOG_API="127.0.0.1:3000"                   # node api
WARTHOG_BIND="0.0.0.0:9168"                    # bind ip:port (0.0.0.0:9168)
WARTHOG_STRATUM=""                             # Solo mining stratum (0.0.0.0:3456)
WARTHOG_LOGS="$HOME/.warthog/logs"             # logs directory

# END
